<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="EN" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="/static/css/rainbow.css" media="all" type="text/css" />
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<title>{$page_title}</title>
</head>
<body>
{if $developer_mode}
<div class="dev-mode">DEVELOPER MODE</div>
{/if}
<div id="content">
	<div id="nav">
		<a href="/">Home</a>
	</div>

	<h1>{$page_title}</h1>

	<div style="padding-top: 20px;">
		<img src="/static/images/rainbow-php.png" alt="rainbow-php" width="300" />
		<p>{$content}</p>
	</div>
</div>

{include file='javascript_includes.html'}
</body>
</html>
