<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="EN" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
<link rel="stylesheet" href="/static/css/screen.css" media="all" type="text/css" />
<!--[if lt IE 8]>
<link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<script type="text/javascript" src="/static/js/combined.js"></script>
<title>Sample Site</title>
</head>
<body>
<div id="content">
	<div id="nav">
		<a href="/">Home</a>
	</div>

	<h1>Sample Site</h1>

	<div style="padding-top: 20px;">
		<p>Your content goes here.</p>
	</div>
</div>

{include file='google_analytics.html'}
</body>
</html>
